/* 
 * My97 DatePicker 4.7 Skin:orange
 */
body {
	/*background: url("cal-arrow.png") right 1px repeat-x #fff; 
	border-bottom: #cecdce 1px solid;*/
	background-color: #fff;
	margin-right:0;
}
.WdateDiv{
	width:260px;
	padding: 10px;
	/*margin-top: 6px;*/
	margin-bottom: -7px;
	border: #cecdce 1px solid;
	/*border-top: none;*/
	box-sizing: border-box;
	font-family: "Microsoft Yahei";
}
.WdateDiv:after {
	clear: both;
	visibility: hidden;
	content:'';
	height: 0;
	display: block;
}
.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}
.WdateDiv .NavImg a{
	cursor:pointer;
	display:block;
	width:10px;
	height:16px;
	margin-top:1px;
}
.WdateDiv .NavImgll a, .WdateDiv .NavImgrr a , .WdateDiv .NavImgl a , .WdateDiv .NavImgr a {
	background: url(sprite.png) no-repeat;
}
.WdateDiv .NavImgll a{
	float:left;
	background-position: -44px -22px;
}
.WdateDiv .NavImgl a{
	float:left;
	background-position: -62px -22px;
}
.WdateDiv .NavImgr a{
	float:right;
	background-position: -79px -22px;
}
.WdateDiv .NavImgrr a{
	float:right;
	background-position: -93px -22px;
}

.WdateDiv #dpTitle{
	height:20px;
	padding:0 0 10px 0;
}

.WdateDiv .yminput{
	margin-top:2px;
	margin-left: 10px;
	text-align:center;
	border:0px;
	height:20px;
	width:50px;
	color:#034c50;
	background-color:transparent;
	cursor:pointer;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	border:#939393 1px solid;
	font-weight:bold;
	color:#034c50;	
	height:20px;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#A3C6C8 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
	color:#11777C;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#e5ebf8;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;
}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px; 
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px; 
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px; 
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	color:#73abd5;
	background-color:#f5f5f5;
}
.MTitle td div{ padding:0 5px;}
.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#BEE9F0 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:22px;	
	color:#13777e;
	background-color:#fff;
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
	color:#73abd5;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.WdateDiv .WdayOn, .WdateDiv .Wselday, .WdateDiv .WwdayOn,.WdateDiv .Wtoday, .WdateDiv .WotherDayOn{
	background-color:#ffa63c ;
	background-color:#ffa63c;
	border-top: 1px solid #d77f18;
	border-left: 1px solid #d77f18;
	color: #fff;
	cursor:pointer;	
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#ff6600;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{ 
	cursor:pointer;
	color:#73abd5;
    border-top: 1px solid #fff;
	border-left: 1px solid #fff;	
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float: left;
	display: inline;
	width: 115px;
	height: 20px;
	line-height:20px;
	margin-top:10px;
	margin-right: 60px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
	color:#497F7F;
}

.WdateDiv #dpTime input{
	height:19px;
	width:18px;
	text-align:center;
	color:#333;
	border:#cecdce 1px solid;	
	vertical-align: middle;
}
.WdateDiv #dpTime .tB, .WdateDiv #dpTime .tE, .WdateDiv #dpTime .tm{ 
	*margin-top: 1px;
}
.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
	
}

.WdateDiv #dpTime #dpTimeUp, .WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
	background:url(sprite.png) no-repeat;
	background-position: -34px 0px;
	cursor: pointer;
}

.WdateDiv #dpTime #dpTimeDown{
	background-position: -34px -11px;
}

 .WdateDiv #dpQS {
 	float:left;
	display: inline;
	margin-right:3px;
	margin-top:10px;
	background:url(sprite.png) no-repeat -52px -2px;
	width:58px;
	height:19px;
	cursor:pointer;
 }
 #dpQS:hover{ background-position: -111px -2px;}
.WdateDiv #dpControl {
	float: right;
	text-align:right;
	width: 165px;
	margin:3px -10px -4px;
	padding: 5px 10px 10px 0;
	*padding-right: 20px;
}
.WdateDiv .dpButton{ 
	height:20px;
	width:45px;
	margin-top:2px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color:#e5ebf8;
	border: none;
	color:#606060;
	border-radius: 2px;
	cursor: pointer;
}
.dpButton:hover{
    color: #909090;
}
#dpOkInput {
	background-color: #ffa63c;
}
#dpOkInput:hover{ color: #fff;}
