<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.jf.console.baseapi.item.ApproveDefMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.jf.console.item.bean.pojo.ApproveDef" >
    <id column="APPR_ID" property="apprId" jdbcType="DECIMAL" />
    <result column="APPR_OBJ_TYPE" property="apprObjType" jdbcType="DECIMAL" />
    <result column="APPR_OBJ_ID" property="apprObjId" jdbcType="DECIMAL" />
    <result column="APPR_OBJ_NAME" property="apprObjName" jdbcType="VARCHAR" />
    <result column="APPR_STATE" property="apprState" jdbcType="DECIMAL" />
    <result column="LTST_APPR_OPID" property="ltstApprOpid" jdbcType="DECIMAL" />
    <result column="LTST_APPR_OPNAME" property="ltstApprOpname" jdbcType="VARCHAR" />
    <result column="LTST_APPR_TIME" property="ltstApprTime" jdbcType="TIMESTAMP" />
    <result column="LTST_APPR_STATE" property="ltstApprState" jdbcType="DECIMAL" />
    <result column="LTST_APPR_COMMENT" property="ltstApprComment" jdbcType="VARCHAR" />
    <result column="DATA_STATE" property="dataState" jdbcType="DECIMAL" />
    <result column="CREATOR" property="creator" jdbcType="DECIMAL" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="MODIFYER" property="modifyer" jdbcType="DECIMAL" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    APPR_ID, APPR_OBJ_TYPE, APPR_OBJ_ID, APPR_OBJ_NAME, APPR_STATE, LTST_APPR_OPID, LTST_APPR_OPNAME, 
    LTST_APPR_TIME, LTST_APPR_STATE, LTST_APPR_COMMENT, DATA_STATE, CREATOR, CREATE_TIME, 
    MODIFYER, MODIFY_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from approve_def
    where APPR_ID = #{apprId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from approve_def
    where APPR_ID = #{apprId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.atguigu.jf.console.item.bean.pojo.ApproveDef" >
    <selectKey resultType="java.lang.Long" keyProperty="apprId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into approve_def (APPR_ID, APPR_OBJ_TYPE, APPR_OBJ_ID, 
      APPR_OBJ_NAME, APPR_STATE, LTST_APPR_OPID, 
      LTST_APPR_OPNAME, LTST_APPR_TIME, LTST_APPR_STATE, 
      LTST_APPR_COMMENT, DATA_STATE, CREATOR, 
      CREATE_TIME, MODIFYER, MODIFY_TIME
      )
    values (#{apprId,jdbcType=DECIMAL}, #{apprObjType,jdbcType=DECIMAL}, #{apprObjId,jdbcType=DECIMAL}, 
      #{apprObjName,jdbcType=VARCHAR}, #{apprState,jdbcType=DECIMAL}, #{ltstApprOpid,jdbcType=DECIMAL}, 
      #{ltstApprOpname,jdbcType=VARCHAR}, #{ltstApprTime,jdbcType=TIMESTAMP}, #{ltstApprState,jdbcType=DECIMAL}, 
      #{ltstApprComment,jdbcType=VARCHAR}, #{dataState,jdbcType=DECIMAL}, #{creator,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyer,jdbcType=DECIMAL}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.atguigu.jf.console.item.bean.pojo.ApproveDef" >
    <selectKey resultType="java.lang.Long" keyProperty="apprId" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into approve_def
    <trim prefix="(" suffix=")" suffixOverrides="," >
      APPR_ID,
      <if test="apprObjType != null" >
        APPR_OBJ_TYPE,
      </if>
      <if test="apprObjId != null" >
        APPR_OBJ_ID,
      </if>
      <if test="apprObjName != null" >
        APPR_OBJ_NAME,
      </if>
      <if test="apprState != null" >
        APPR_STATE,
      </if>
      <if test="ltstApprOpid != null" >
        LTST_APPR_OPID,
      </if>
      <if test="ltstApprOpname != null" >
        LTST_APPR_OPNAME,
      </if>
      <if test="ltstApprTime != null" >
        LTST_APPR_TIME,
      </if>
      <if test="ltstApprState != null" >
        LTST_APPR_STATE,
      </if>
      <if test="ltstApprComment != null" >
        LTST_APPR_COMMENT,
      </if>
      <if test="dataState != null" >
        DATA_STATE,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="modifyer != null" >
        MODIFYER,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{apprId,jdbcType=DECIMAL},
      <if test="apprObjType != null" >
        #{apprObjType,jdbcType=DECIMAL},
      </if>
      <if test="apprObjId != null" >
        #{apprObjId,jdbcType=DECIMAL},
      </if>
      <if test="apprObjName != null" >
        #{apprObjName,jdbcType=VARCHAR},
      </if>
      <if test="apprState != null" >
        #{apprState,jdbcType=DECIMAL},
      </if>
      <if test="ltstApprOpid != null" >
        #{ltstApprOpid,jdbcType=DECIMAL},
      </if>
      <if test="ltstApprOpname != null" >
        #{ltstApprOpname,jdbcType=VARCHAR},
      </if>
      <if test="ltstApprTime != null" >
        #{ltstApprTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ltstApprState != null" >
        #{ltstApprState,jdbcType=DECIMAL},
      </if>
      <if test="ltstApprComment != null" >
        #{ltstApprComment,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null" >
        #{dataState,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyer != null" >
        #{modifyer,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.atguigu.jf.console.item.bean.pojo.ApproveDef" >
    update approve_def
    <set >
      <if test="apprObjType != null" >
        APPR_OBJ_TYPE = #{apprObjType,jdbcType=DECIMAL},
      </if>
      <if test="apprObjId != null" >
        APPR_OBJ_ID = #{apprObjId,jdbcType=DECIMAL},
      </if>
      <if test="apprObjName != null" >
        APPR_OBJ_NAME = #{apprObjName,jdbcType=VARCHAR},
      </if>
      <if test="apprState != null" >
        APPR_STATE = #{apprState,jdbcType=DECIMAL},
      </if>
      <if test="ltstApprOpid != null" >
        LTST_APPR_OPID = #{ltstApprOpid,jdbcType=DECIMAL},
      </if>
      <if test="ltstApprOpname != null" >
        LTST_APPR_OPNAME = #{ltstApprOpname,jdbcType=VARCHAR},
      </if>
      <if test="ltstApprTime != null" >
        LTST_APPR_TIME = #{ltstApprTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ltstApprState != null" >
        LTST_APPR_STATE = #{ltstApprState,jdbcType=DECIMAL},
      </if>
      <if test="ltstApprComment != null" >
        LTST_APPR_COMMENT = #{ltstApprComment,jdbcType=VARCHAR},
      </if>
      <if test="dataState != null" >
        DATA_STATE = #{dataState,jdbcType=DECIMAL},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyer != null" >
        MODIFYER = #{modifyer,jdbcType=DECIMAL},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where APPR_ID = #{apprId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.jf.console.item.bean.pojo.ApproveDef" >
    update approve_def
    set APPR_OBJ_TYPE = #{apprObjType,jdbcType=DECIMAL},
      APPR_OBJ_ID = #{apprObjId,jdbcType=DECIMAL},
      APPR_OBJ_NAME = #{apprObjName,jdbcType=VARCHAR},
      APPR_STATE = #{apprState,jdbcType=DECIMAL},
      LTST_APPR_OPID = #{ltstApprOpid,jdbcType=DECIMAL},
      LTST_APPR_OPNAME = #{ltstApprOpname,jdbcType=VARCHAR},
      LTST_APPR_TIME = #{ltstApprTime,jdbcType=TIMESTAMP},
      LTST_APPR_STATE = #{ltstApprState,jdbcType=DECIMAL},
      LTST_APPR_COMMENT = #{ltstApprComment,jdbcType=VARCHAR},
      DATA_STATE = #{dataState,jdbcType=DECIMAL},
      CREATOR = #{creator,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MODIFYER = #{modifyer,jdbcType=DECIMAL},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where APPR_ID = #{apprId,jdbcType=DECIMAL}
  </update>
</mapper>