/*
 * My97 DatePicker 4.7
 */

.WdateDiv{
	width:180px;
	background:url(bg_date.gif) repeat-x left top #fff;
	border:#95bede 1px solid;
	padding:2px;
}

.WdateDiv2{
	width:360px;
}
.WdateDiv *{font-size:9pt;}

.WdateDiv .NavImg a{
	display:block;
	cursor:pointer;
	height:16px;
	width:16px;
	position:relative;
	top:2px;
}

.WdateDiv .NavImgll a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll 0 0;
}
.WdateDiv .NavImgl a{
	float:left;
	background:transparent url(img.gif) no-repeat scroll -16px 0;
}
.WdateDiv .NavImgr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -32px 0;
}
.WdateDiv .NavImgrr a{
	float:right;
	background:transparent url(img.gif) no-repeat scroll -48px 0;
}

.WdateDiv #dpTitle{
	height:24px;
	margin-bottom:2px;
	padding:1px;
}

.WdateDiv .yminput{
	margin-top:2px;
	text-align:center;
	height:20px;
	border:0px;
	width:50px;
	cursor:pointer;
	background:transparent;
}

.WdateDiv .yminputfocus{
	margin-top:2px;
	text-align:center;
	font-weight:bold;
	height:20px;
	color:#ff0000;
	border:0;
	background:transparent;
	width:50px;
}

.WdateDiv .menuSel{
	z-index:1;
	position:absolute;
	background-color:#FFFFFF;
	border:#ccc 1px solid;
	display:none;
}

.WdateDiv .menu{
	cursor:pointer;
	background-color:#fff;
}

.WdateDiv .menuOn{
	cursor:pointer;
	background-color:#d6e2f2;
}

.WdateDiv .invalidMenu{
	color:#aaa;
}

.WdateDiv .YMenu{
	margin-top:20px;

}

.WdateDiv .MMenu{
	margin-top:20px;
	*width:62px;
}

.WdateDiv .hhMenu{
	margin-top:-90px;
	margin-left:26px;
}

.WdateDiv .mmMenu{
	margin-top:-46px;
	margin-left:26px;
}

.WdateDiv .ssMenu{
	margin-top:-24px;
	margin-left:26px;
}

 .WdateDiv .Wweek {
 	text-align:center;
	background:#DAF3F5;
	border-right:#BDEBEE 1px solid;
 }

.WdateDiv .MTitle{
	background-color:#fff;
	color:#233d6e;
	font-weight:bold;
}

.WdateDiv .WdayTable2{
	border-collapse:collapse;
	border:#c5d9e8 1px solid;
}
.WdateDiv .WdayTable2 table{
	border:0;
}

.WdateDiv .WdayTable{
	line-height:20px;
	
}
.WdateDiv .WdayTable td{
	text-align:center;
}

.WdateDiv .Wday{
	cursor:pointer;
	color:#383838;
	background:#fff;
	border:1px solid #fff;
}

.WdateDiv .WdayOn{
	cursor:pointer;
	background-color:#d6e2f2;
	border:1px solid #8c0000;
}

.WdateDiv .Wwday{
	cursor:pointer;
	color:#FF0000;
	background-color:#fff;
	border:1px solid #fff;
}

.WdateDiv .WwdayOn{
	cursor:pointer;
	color:#383838;
	background-color:#d6e2f2;
	border:1px solid #8c0000;
}
.WdateDiv .Wtoday{
	cursor:pointer;
	color:blue;
}
.WdateDiv .Wselday{
	background-color:#d6e2f2;
	border:1px solid #8c0000;
}
.WdateDiv .WspecialDay{
	background-color:#66F4DF;
}

.WdateDiv .WotherDay{
	cursor:pointer;
	color:#646464;
	background-color:#fff;
	border:1px solid #fff;
}

.WdateDiv .WotherDayOn{
	cursor:pointer;
	background-color:#d6e2f2;
	border:1px solid #8c0000;
}

.WdateDiv .WinvalidDay{
	color:#aaa;
}

.WdateDiv #dpTime{
	float:left;
	margin-top:3px;
	margin-right:30px;
}

.WdateDiv #dpTime #dpTimeStr{
	margin-left:1px;
}

.WdateDiv #dpTime input{
	width:18px;
	height:20px;
	text-align:center;
	border:#ccc 1px solid;
}

.WdateDiv #dpTime .tB{
	border-right:0px;
}

.WdateDiv #dpTime .tE{
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime .tm{
	width:7px;
	border-left:0;
	border-right:0;
}

.WdateDiv #dpTime #dpTimeUp{
	height:10px;
	width:13px;
	border:0px;
	background:url(img.gif) no-repeat -32px -16px;
}

.WdateDiv #dpTime #dpTimeDown{
	height:10px;
	width:13px;
	border:0px;
    background:url(img.gif) no-repeat -48px -16px;
}

 .WdateDiv #dpQS {
 	float:left;
	margin-left:3px;
	margin-right:3px;
	margin-top:3px;
	background:url(img.gif) no-repeat 0px -16px;
	display:inline;
	width:20px;
	height:20px;
	cursor:pointer;
 }
.WdateDiv #dpControl {
	text-align:right;
	padding:2px;
}
.WdateDiv .dpButton{
	height:22px;
	line-height:22px;
	width:45px;
	border:#718cb7 1px solid;
	background:#fff;
	margin-top:2px;
	margin-right:1px;
	vertical-align:middle;
}